@import '/public/assets/Styles/index.module.scss';

.main {
  @include main();
  height: 460px;
  display: flex;
  justify-content: center;
  padding-block: 20px;
  .card {
    display: flex;
    width: 990px;
    border-radius: 15px;
    height: 420px;
    background-color: $bgColor3;
    align-items: center;
    .cardImg {
      width: 400px;
      height: 400px;
      mix-blend-mode: multiply;
    }
    .cardSubtitles {
      display: flex;
      margin-bottom: 0;
    }
    .cardSubSubtitles {
      margin-top: 0px;
    }
    .cardTitles {
      text-align: center;
      margin-inline: auto;
      .buttons {
        margin-top: -15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .heart {
          color: red;
          transition: color 0.13s ease-in-out;
        }
        .bag {
          color: rgb(255, 102, 0);
          transition: color 0.13s ease-in-out;
        }
        .button {
          width: 250px;
          height: 50px;
          border-radius: 10px;
          font-size: 28px;
          font-weight: 600;
          cursor: pointer;
          background-color: $bgColor2;
          border: 1px solid rgb(155, 155, 155);
          box-shadow: 0px 0px 7px rgb(158, 158, 158);
          margin-top: 25px;
          transition: background-color 0.13s ease-in-out;
          &:hover {
            background-color: rgb(255, 217, 192);
          }
        }
        .button2 {
          background-color: rgb(255, 127, 127);
          font-size: 28px;
          height: 82px;
          &:hover {
            background-color: rgb(255, 217, 192);
            .heart {
              color: rgb(255, 127, 127);
            }
          }
        }
      }
      .cardTitle {
        font-size: 48px;
        font-weight: 500;
      }
      .cardSubtitles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .cardSubtitle {
          font-size: 24px;
        }
        .cardPrice {
          font-size: 22px;
        }
      }
    }
  }
}