@import '/public/assets/Styles/index.module.scss';


.main {
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  @include main();
  .cards {
    margin-bottom: 30px;
  }
}