@import '/public/assets/Styles/index.module.scss';


.main {
  height: 1000px;
  border-radius: 10px;
  margin-bottom: 10px;
  @include main();
  .cards {
    display: flex;
    position: absolute;
  }
}