@import '/public/assets/Styles/index.module.scss';

.main {
  @include main();
  .h1 {
    margin-inline: auto;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding: 30px;
  }
}