.icon {
  cursor: pointer;
  font-size: 25px;
  transition: color 0.1s ease-in-out;
  &:hover {
    color: rgb(53, 53, 53);
  }
}

@mixin main() {
  display: flex;
  max-width: 1100px;
  border-radius: 10px;
  background-color: white;
  margin-inline: auto;
  box-shadow: 0 0px 25px $bgColor2;
}

$bgColor1: #ffe5c3;
$bgColor2: #ffaf60;
$bgColor3: #fd8f20;
